body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111;
    color: white;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.banner {
    padding: 50px 0;
    text-align: center;
    background: #e7e7e7;
}

.banner-image {
    position: relative;
    width: 1000px;   
    margin: 20px auto 0;
}

.banner-image img {
    width: 100%;
    border-radius: 8px;
    display: block;
}


.banner {
    padding: 80px;
    text-align: center;
    background: #eee;
}

.category .cat-list {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.cat-item {
    background: #ebe6a7;
    padding: 30px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
}

/* trang sản phẩm*/
.product-grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
}

.product-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.price {
    color: #e00000;
    font-weight: bold;
}

/* trang chi tiết sản phẩm*/
.detail-container {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.gallery img {
    width: 400px;
}

.options .opt {
    display: inline-block;
    padding: 5px 10px;
    background: #ddd;
    margin-right: 10px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #111;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 6px;
}

.cart-table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    border: 1px solid #ccc;
    padding: 12px;
}

/* thẻ giảm giá và new */
.product-card {
    position: relative;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
}

.badge-discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #e00000;
    color: white;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    font-weight: bold;
}

.badge-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: bold;
}
